<p>home works!</p>


<h1 appChangeText>Attribute Directive</h1>




<table border="1">
    <tbody>
        <th>Name</th>
        <th>Gender</th>
    </tbody>
    <tbody >
        <tr *ngFor="let item of data">
            <td>{{item.name | addSurname:item.gender}}</td>
            <td>{{item.gender}}</td>
        </tr>
    </tbody>
</table>


<h1>custom pipe</h1>

<!-- *ngFor="let item of event_sponsors | sponserFilter: selectedSponser; let i = index;"> -->

<div class="row">
    <div class="col-12 col-md-6 pb-4"
      *ngFor="let item of event_sponsors | sponserFilter:'sponser'  let i = index;">
      <ng-container *ngIf="i < 6">
        <p class="Brand BrandValue">
          <strong>{{item?.sponsor_name}}&nbsp;&nbsp;</strong>
         </p>
        <p class="greyText" [innerHTML]="item?.about_sponsor">
        </p>
      </ng-container>
    </div>
  </div>